<launch>
	<node name="publisher" pkg="msg_send" type="publisher_.py" output="screen"/>	
	<node name="receiver" pkg="msg_send" type="receiver_.py" output="screen"/>
	<node name="first" pkg="msg_send" type="first_.py" output="screen"/>
	<node name="second" pkg="msg_send" type="second_.py" output="screen"/>
	<node name="third" pkg="msg_send" type="third_.py" output="screen"/>
	<node name="fourth" pkg="msg_send" type="fourth_.py" output="screen"/>
</launch>
